/*GENERAL*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}

.container{
  font-size: 12px;
}

header{
  display: flex;
  justify-content: center;
  background-color:#3161E0;
  min-height: 50px;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

h1{
  font-size: 30px;
}

p{
  font-size: 16px;
  padding: 20px 10px;
  word-spacing: 2px;
  line-height: 25px;
}

h1 p{
  color: white
}

.bottone{
  padding: 10px 20px;
  margin: 0px 15px;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
}

.bottone a{
  text-decoration: none;
  color: black;
}


/*MAIN*/

.intestazione{
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.logo{
  padding-right: 50px;
  background-size: cover;
}


nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 100px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li{
  margin-right: 15px;
}

nav ul li a:hover{
  text-decoration: underline;
}

.cta{
  display:flex;
  justify-content: space-between;
}

.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  height: 500px;
}

.contenutojumbo{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 650px;
  align-items: center;
  text-align: center;
}

.sectionstudy ,
.sectionvoice ,
.sectioncoach ,
.lastsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:#FFFFFF;
  height: 500px;
}

.img-study{
  display: flex;
  height: 300px;
  width: 500px;
  background-size: cover;
}

.presentazione{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

.sectionvoice,
.lastsection {
  background-color: #F6F6F6;
}

.lastsection{
  height: 700px;
}

.presentazione-big{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 800px;
  height: 500px;
}


/*FOOTER*/

.fcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:#23272A;
  height: 400px;
}

.social{
  display: flex;
  height: 300px;
  width: 200px;
  background-color:#F08080;
  border: 2px dashed black;
}

.prodotto ,
.compagnia,
.risorse,
.norme {
  display: flex;
  height: 300px;
  width: 100px;
  background-color: #20B2AA;
  border: 2px dashed white;
}

.finale {
  display: flex;
  justify-content: center;
  background-color:#23272A;
  height: 50px;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px solid #D6D7D7;
}

.containerfinale{
  background-color: #7FFFD4;
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 600px;
  align-items: center;
  flex-wrap: wrap;
}

.logofinale , .registrati{
  border: 2px dashed black;
  background-color: #FFB6C1;
}

.ultimo-bottone{
  padding: 10px 20px;
  margin: 0px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  background-color: #8EA1E1;
  color: white;
}


















